:root {
    --paragraph-color: #d40000;
    --margin-top: 130px;
    --logo: url("src/img/pey-logo-02.png")
}


h1 {
    font-size: 99px;
}

.title {
    font-family: Marcellus, serif;
        color: var(--paragraph-color);
        font-size: 30px;
}

.img-border { 
    border-radius: 10px;
}



.link {font-family: Marcellus, serif;
    color: var(--paragraph-color);
    text-decoration: none;
    font-size: 17.5px;
}

.logo {
    max-width: 65px;
    margin-right: 20px;
    background-image: var(--logo);
}
.navbar-toggler:focus {
    border: 0 !important;
    box-shadow: none !important;
}


.navbar-toggler {
    border: 0 !important;
}

.margin-top {
    margin-top: var(--margin-top);
}

#video-background {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
            transform: rotate(180deg);

}

@media (max-width: 800px) {
    p,
    .link {
        font-size: 14px;
    }
    h1 {font-size: 70px;}
    .title {font-size: 25px;}
}